In [1]:
import csv
f = open("guns.csv", "r")
data = list(csv.reader(f))
print(data[:5])

[['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education'], ['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4']]

In [2]:
headers = data[0]
data = data[1:]
print(headers)
print(data[:5])

['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education']
[['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4'], ['5', '2012', '02', 'Suicide', '0', 'M', '31', 'White', '100', 'Other specified', '2']]

In [3]:
years = []
for row in data:
    #obtain the year the gun death occurred
    years.append(row[1])
year_counts = {}
for i in years:
    if i in year_counts:
        year_counts[i] += 1
    else:
        year_counts[i] = 1
print(year_counts)

{'2012': 33563, '2013': 33636, '2014': 33599}

In [4]:
import datetime
dates = []
for row in data:
    date = datetime.datetime(year = int(row[1]), month = int(row[2]), day = 1)
    dates.append(date)
for i in dates[:5]:
    print(i.strftime("%B %Y"))

January 2012
January 2012
January 2012
February 2012
February 2012

In [5]:
date_counts = {}
for d in dates:
    if d in date_counts:
        date_counts[d] += 1
    else:
        date_counts[d] = 1
for i in date_counts:
    print(i.strftime("%B %Y"))

January 2012
February 2012
March 2012
April 2012
May 2012
June 2012
July 2012
August 2012
September 2012
October 2012
November 2012
December 2012
January 2013
February 2013
March 2013
April 2013
May 2013
June 2013
July 2013
August 2013
September 2013
October 2013
November 2013
December 2013
January 2014
February 2014
March 2014
April 2014
May 2014
June 2014
July 2014
August 2014
September 2014
October 2014
November 2014
December 2014

In [18]:
genders = []
for row in data:
    genders.append(row[5])
    
races = []
for row in data:
    races.append(row[7])

sex_counts = {}
for d in genders:
    if d in sex_counts:
        sex_counts[d] += 1
    else:
        sex_counts[d] = 1
for i in sex_counts:
    print(i, sex_counts[i])
    
print()
    
race_counts = {}
for d in races:
    if d in race_counts:
        race_counts[d] += 1
    else:
        race_counts[d] = 1
for i in race_counts:
    print(i)

M 86349
F 14449

Asian/Pacific Islander
White
Native American/Native Alaskan
Black
Hispanic

In [7]:
f = open("census.csv", "r")
census = list(csv.reader(f))
print(census)

[['Id', 'Year', 'Id', 'Sex', 'Id', 'Hispanic Origin', 'Id', 'Id2', 'Geography', 'Total', 'Race Alone - White', 'Race Alone - Hispanic', 'Race Alone - Black or African American', 'Race Alone - American Indian and Alaska Native', 'Race Alone - Asian', 'Race Alone - Native Hawaiian and Other Pacific Islander', 'Two or More Races'], ['cen42010', 'April 1, 2010 Census', 'totsex', 'Both Sexes', 'tothisp', 'Total', '0100000US', '', 'United States', '308745538', '197318956', '44618105', '40250635', '3739506', '15159516', '674625', '6984195']]

In [8]:
census_header = census[0]
census_data = census[1]

mapping = {}
mapping["Asian/Pacific Islander"] = census_data[14] + census_data[15]
mapping["Black"] = census_data[12]
mapping["Native American/Native Alaskan"] = census_data[13]
mapping["Hispanic"] = census_data[11]
mapping["White"] = census_data[10]

race_per_hundredk = {}
for r in race_counts:
    race_per_hundredk[r] = (race_counts[r]/(int(mapping[r])))*100000 
print(race_per_hundredk)

{'Asian/Pacific Islander': 8.746980714890115e-06, 'White': 33.56849303419181, 'Native American/Native Alaskan': 24.521955573811088, 'Black': 57.8773477735196, 'Hispanic': 20.220491210910907}

In [10]:
intents = []
for row in data:
    intents.append(row[3])
races = []
for row in data:
    races.append(row[7])
    
homicide_race_counts = {}
for i, race in enumerate(races):
    ifhom = intents[i]
    if ifhom == "Homicide":
        if race in homicide_race_counts:
            homicide_race_counts[race] += 1
        else:
            homicide_race_counts[race] = 1

for r in homicide_race_counts:
    homicide_race_counts[r] = (homicide_race_counts[r]/(int(mapping[r])))*100000
print(homicide_race_counts)

{'White': 4.6356417981453335, 'Asian/Pacific Islander': 3.687452654316421e-06, 'Black': 48.471284987180944, 'Native American/Native Alaskan': 8.717729026240365, 'Hispanic': 12.627161104219914}

In [17]:
#month and homicide rate
months = []
for row in data:
    months.append(row[2])
months_count = {}
for m in months:
    if m in months_count:
        months_count[m] += 1
    else:
        months_count[m] = 1

print("Average Gun Deaths in the USA per month from 2012-2014")
for m in months_count:
    print(m, " : ", months_count[m], "deaths")

Average Gun Deaths in the USA per month from 2012-2014
01  :  8273 deaths
02  :  7093 deaths
03  :  8289 deaths
04  :  8455 deaths
05  :  8669 deaths
06  :  8677 deaths
07  :  8989 deaths
08  :  8783 deaths
09  :  8508 deaths
10  :  8406 deaths
11  :  8243 deaths
12  :  8413 deaths

In [22]:
places = []
for row in data:
    places.append(row[9])
places_count = {}
for p in places:
    if p in places_count:
        places_count[p] += 1
    else:
        places_count[p] = 1
        
print("Gun deaths over 3-year span according to location")
for p in places_count:
    print(p, " : ", places_count[p], "deaths")

Gun deaths over 3-year span according to location
Home  :  60486 deaths
Street  :  11151 deaths
Other specified  :  13751 deaths
NA  :  1384 deaths
Other unspecified  :  8867 deaths
Trade/service area  :  3439 deaths
Farm  :  470 deaths
Industrial/construction  :  248 deaths
School/instiution  :  671 deaths
Sports  :  128 deaths
Residential institution  :  203 deaths

In [27]:
edu = []
for row in data:
    edu.append(row[10])
edu_count = {}
for e in edu:
    if e in edu_count:
        edu_count[e] += 1
    else:
        edu_count[e] = 1
print("Gun deaths by education level")
for e in edu_count:
    if e == "1":
        print("Less than High School : ", edu_count[e], " deaths")
    elif e == "2":
        print("Graduated from High School or equivalent : ", edu_count[e], " deaths")
    elif e == "3":
        print("Some College : ", edu_count[e], " deaths")
    elif e == "4":
        print("At least graduated from College : ", edu_count[e], " deaths")
    elif e == "5":
        print("Not available : ", edu_count[e], " deaths")

Gun deaths by education level
At least graduated from College :  12946  deaths
Some College :  21680  deaths
Graduated from High School or equivalent :  42927  deaths
Less than High School :  21823  deaths
Not available :  1369  deaths